<nav class="navbar has-background-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/logopiola.png" width="90" height="30">
      Futchamps
    </a>
  
  
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" (click)="navegarAHome()">
        Home
      </a>

      <a class="navbar-item"  (click)="navegarARegistrar()" >
        Registra tu Equipo
      </a>

      <a class="navbar-item">
        Quienes Somos
      </a>
     
      </div>
    </div>
  </div>
</nav>