<section class="hero has-background-primary is-halfheight has-background">
  <img alt="TorneoDe1era" class="hero-background is-transparent" src="https://storage.googleapis.com/diariodemocracia/cache/6d/d7/f608x342-60903_90626_15-082a0b.jpg" />
  <div class="hero-body">
    <div class="">
        <p class="title has-text-primary-light">
       Bievenidos a The Futchamps
      </p>
      <p class="subtitle has-text-primary-light">
        Torneo de Futbol de Primera categoria
      </p>
    </div>
  </div>
</section>