<div class="container is-fullheight p-5">
  <div class="column is-half is-offset-one-quarter">
    <h1 class="title has-text-centered has-text-success">
      Registra a tu equipo
    </h1>
    <form class="box has-background-success">
      <div class="field">
        <label class="label">Nombre</label>
        <div class="control">
          <input
            class="input has-background-black has-text-link-light"
            type="text"
            placeholder="Nombre de Equipo"
            [(ngModel)] ="nombre"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Ciudad</label>
        <div class="control">
          <input
            class="input has-background-black has-text-link-light"
            type="text"
            placeholder="Ciudad"
            [(ngModel)] ="ciudad"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Estadio</label>
        <div class="control">
          <input
            class="input has-background-black has-text-link-light"
            type="text"
            placeholder="Estadio"
            [(ngModel)] ="estadio"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Fecha de Creacion</label>
        <div class="control">
          <input
            class="input has-background-black has-text-link-light"
            type="text"
            placeholder="Fecha de Creacion"
            [(ngModel)] ="fecha"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
      </div>
      <div class="has-text-centered">
        <button (click)="subirDatos()" class="button has-background-black has-text-success">
          Success
        </button>
      </div>
    </form>
  </div>
</div>
